.container {
    padding: 0px;
    margin: 0;
    height: 50px;
    width: 250px;
    align-items: center;
    justify-items: center;
}

.container:hover {
    cursor: pointer;
}

.iconTextContainer{
    width: 80%;
    align-items: center;
    justify-content: left;
    gap:30px;
    display: flex;

}